[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tryCatchLog"]
	path = tryCatchLog
	url = https://github.com/aryoda/trycatchlog
	shallow = true
	registered = true
